<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
</head>

<body>
    <form action="{{ url_for('update_post', id=post.id) }}" method="post">
        <input type="hidden" id="id" name="id" value="{{ post.id }}">
        Post Name:
        <br>
        <input type="text" id="post_name" name="post_name" value="{{ post.name }}" />
        <br>

        Post Content:
        <br>
        <textarea id="post_content" name="post_content" rows="20" cols="120">
{{body|safe}}
</textarea>
        <br>
        <input type="submit" value="Submit" />
    </form>
    <form action="{{ url_for('delete_post', id=post.id) }}" method="post">
        <input type="submit" value="Delete" />
    </form>
    <ul>
        {% for comment in comments %}
        <li>
            <u>{{ comment.commenter }}</u>: "{{ comment.comment }}"
        </li>

        <form action="{{ url_for('delete_comment') }}" method="post">
            <input type="hidden" id="id" name="id" value="{{ comment.id }}">
            <input type="submit" value="Delete" />
        </form>

        {% if not comment.visible %}
        <form action="{{ url_for('make_comment_visible') }}" method="post">
            <input type="hidden" id="id" name="id" value="{{ comment.id }}">
            <input type="submit" value="Make Visible" />
        </form>
        {% endif %}
        <br>
        {% endfor %}
    </ul>
</body>

</html>